body {
    background-color:darkslategray;
    color: white;
}

nav {
    background-color: white;
    color: darkslategray;
}

a {
    color: darkslategray;
    font-size: larger;
}

#name {
    text-align: right;
}

#img {
    width: 300px;
    border: solid white 3px;
}

#center {
    text-align: center;
    font-size: xx-large;
    margin: 50px;
}

.quote {
    font-size: 30px;
}

.whiteBG {
    background-color: white;
    color: darkslategray;
    font-size: x-large;
}